/* MOVIE */

.movie {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
  
.movie:hover {
    box-shadow: 0px 0px 24px 0px hsl(223, 36%, 36%);
}
  
.movie .shadow {
    background: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(0, 0, 0, 0) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}
  
.movie h2 {
    margin: 15px 10px;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    font-size: 1rem;
}
  
.movie img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.movie svg {
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.6;
}
  
.movie svg:hover {
    opacity: 1;
}